@media(min-width:768px){
    .inicio{
        background: url(../imag/cropped-cropped-iuyiuyiu-011.png) no-repeat fixed center center #333;
        background-size: cover;
    }

    .mainInicio{
        opacity: 0;
    }

    .navegador{
        border-bottom: #CED6D9 1px solid;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            li{
                margin: 5px;
                padding: 5px;
                font-size: 16px;
                
            }
            
        }
        label{
            display: none;
        }
    }
    
    

    aside{
        width: 100%;
        height: 1000px;
        display: flex;
        background-color: white;
        grid-area: aside;
        align-items: center;
        flex-direction: column;
        h1{
            margin:15px;
            padding: 15px;
    
        }
        .nosotros{
            display: flex;
            align-items: center;
            width: 500px;
           }
        video{
            width: 400px;
            margin: 20px;
            padding: 15px;
        }
    }
    
    .hombre{
       display: flex;
       margin: 5px;
       padding: 5px;
       .tarjetaHombre{
        margin: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: black 1px solid;
        border-radius: 100px;
        img{
            width: 150px;
        }
        h5{
            color: black;
            font-size: 16px;
            margin: 5px;
            padding: 5px;
    
        }
       
    }
    
    }

    
    .descripcion h5{
            font-size: 20px;
            font-weight: 600;
            margin: 5px;
            padding: 10px;
        
    }

    .descripcion img{
        width: 150px;
    }
    
    
    .card-body{
        width: 500px;
        font-size: 14px;
    }
    

    .indicacionesFuncion .parrafoComoFunciona{
        width: 500px;
        font-size: 15px;
    }
    
    .indicacionesFuncion .imagenComoFunciona{
        margin: 5px;
        padding: 5px;
        transition: all 1s;
        
    }
    
    .imagenComoFunciona:hover{
        transform: scale(1.2);
    }

    .consulta{
        justify-content: center;
    }

    footer{
        font-size: 13px;
    }

    .fotos h4{
        font-size: 18px;
    }

    td{
        font-size: 12px;
        margin: 5px;
        padding: 5px;
        width: 200px;
        text-align:center;
        border-bottom: black solid 1px;
      }
      .total{
        font-size: 13px;
        margin-right: 200px;
      }
}