

.inicio{
    background: url(../imag/cropped-cropped-iuyiuyiu-011.png) no-repeat fixed center center #333;
    background-size: cover;
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto 600px auto auto; 
    grid-template-areas: 
                        "navegador"
                         "portada"
                         "aside"
                        "footer";
 }

 .navbar{
    grid-area: navegador;
 }


 .portada{
    grid-area: portada;
    
    
}

aside{
    width: 100%;
    height: 1000px;
    display: flex;
    background-color: white;
    grid-area: aside;
    align-items: center;
    flex-direction: column;
    h1{
        margin:15px;
        padding: 15px;

    }
    .nosotros{
        text-align: center;
        display: flex;
        width: 300px;
        font-size: 12px;
        margin: 5px;
        padding: 10px;
       }
    video{
        width: 300px;
        margin: 20px;
        padding: 15px;
    }
}

.hombre{
   display: flex;
   margin: 5px;
   padding: 5px;
   .tarjetaHombre{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 1px solid;
    border-radius: 100px;
    img{
        width: 100px;
    }
    h5{
        color: black;
        font-size: 15px;
        margin: 5px;
        padding: 5px;

    }
   
}

}




footer{
    background-color: #E7E6EB;
    grid-area: footer;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    opacity: 1;

}

footer h5{
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    
}

footer a img{
    width: 30px;
}

footer div a{
    margin: 2px;
    padding: 2px;
    text-decoration: none;
    font-size: 14px;
}

footer div h5{
    font-size: 14px;

}

footer input{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.body__servicio{
    display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 90px auto auto auto;
        grid-template-areas: 
                            "navegador navegador navegador"
                            "header header header"
                            "main main main "
                            "footer footer footer";
}

.header__servicio{
    grid-area: header;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    .titulo__servicio{
        font-size: 15px;
    }
    
    
}


.descripcion{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.descripcion img{
    width: 150px;
}

.descripcion h5{
        font-size: 16px;
        font-weight: 700;
        margin: 5px;
        padding: 10px;
    
}

.descripcion .serv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
    background: radial-gradient(#d4cfe7, white);

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 10px;
    padding: 10px;
}

.body__comofunciona{
    display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 70px auto auto;
        grid-template-areas: 
                            "navegador navegador navegador"
                            "main main main "
                            "footer footer footer";
}

.fondi{
    width: 100%;
    background-position: fixed;
    margin-bottom: 30px;
}


.indicacionesFuncion{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    .imagenComoFunciona{
        margin: 5px;
        padding: 5px;
        transition: all 1s;
        &:hover{
            transform: scale(1.2);
        }
    h1{
        margin-top: 10px;
    }
        
    }
    .parrafoComoFunciona{
        width: 350px;
        font-size: 12px;
        margin: 10px;
        padding: 5px;
        text-align: center;
    }
}


.body__eventos{
   
    display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 80px auto auto auto;
        grid-template-areas: 
                            "navegador navegador navegador"
                            "header header header"
                            "fotos fotos fotos "
                            "footer footer footer";

}

.header__eventos{
    grid-area: header;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin: 10px;
    padding: 5px;
}

$btn:(
    borde: 0,
    margen: 10px,
    padding: 8px,
    border-radius: 5px,
    color: #E4EAF5,
);

$tarjeta:(
    borde: none,
    border-radius:10px,
    margen: 30px,
    padding: 5px,
    

);

.fotos{
    grid-area: fotos;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .tarjeta{
        background: radial-gradient(#d4cfe7, white);
        border: map-get($tarjeta , borde );
        border-radius: map-get($tarjeta , border-radius );
        margin: map-get($tarjeta, margen );
        padding: map-get($tarjeta, padding );
        opacity: 0.85;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 200px;
            margin: 5px;
            padding: 5px;
            transition: all 1s;
        }
        h4{
            margin: 2px;
            padding:3px;
            font-size: 15px;
        }
        .btn{
            border: map-get($btn, borde );
            margin: map-get($btn , margen );
            padding: map-get($btn , padding );
            border-radius: map-get($btn , border-radius );
            background-color: map-get($btn , color );
            &:hover{
                background-color: #CED6D9;
            }
            a{
                text-decoration: none;
                color: black;
            }

            
        
        }

    
    }
}

.button{
    @extend .btn;
}



.evento{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.evento img{
    transition: all 1s;
    margin:10px;
    
}

.evento img:hover{
    transform: scale(1.5);
}
// .body__contacto{
//     display: grid;   
//     grid-template-columns: repeat(1,1fr);
//     grid-template-rows: auto auto auto auto;
//     grid-template-areas: 
//                         "navegador navegador navegador"
//                         "header header header"
//                        "main main main "
//                        "footer footer footer";
// }


@mixin propiedades($margin , $padding) {
    margin: $margin;
    padding: $padding;
    
}
.titulo__contacto{
    text-align: center;
    @include propiedades(10px,5px );
    font-size: 13px;
}


.consulta{
    display: flex;
    flex-wrap: wrap;
    margin-left:30px;
    
}

.consulta__info{
    font-size: 12px;
    @include propiedades(10px,5px );
    width: 320px;
}

.datos{
    font-size: 12px;
    @include propiedades(10px,5px);
    
    
}
.borde{

    @include propiedades(20px,30px);
    border-radius: 15px;
    border-color: #CED6D9;
    
    opacity: 0.7;
    
    
    label{
        font-weight:bolder;
       
    }

    input{
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background: none;
        color: #000000;
        background-color: #CED6D9;
        
    }
    textarea{
        background:none;
        border: none;
        border-radius: 10px;
        background-color: #CED6D9;
    }

}

.boton{
    border: 0;
    @include propiedades(5px,8px);
    border-radius: 5px;
    background-color: #E4EAF5;
    font-weight: bolder;
}

footer{
    grid-area: footer;
}