

.inicio{

    background: url(../imag/cropped-cropped-iuyiuyiu-011.png) no-repeat fixed center center #333;
    background-size: cover;
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto 900px auto auto; 
    grid-template-areas: 
                        "navegador"
                         "portada"
                         "aside"
                        "footer";
 }
 

 .navbar{
    grid-area: navegador;
 }


 .portada{
    grid-area: portada;
    
    
}

aside{
    width: 100%;
    height: 1000px;
    display: flex;
    background-color: white;
    grid-area: aside;
    align-items: center;
    flex-direction: column;
    h1{
        margin:15px;
        padding: 15px;

    }
    .nosotros{
        text-align: center;
        display: flex;
        width: 300px;
        font-size: 12px;
        margin: 5px;
        padding: 10px;
       }
    video{
        width: 300px;
        margin: 20px;
        padding: 15px;
    }
}

.hombre{
   display: flex;
   margin: 5px;
   padding: 5px;
   .tarjetaHombre{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 1px solid;
    border-radius: 100px;
    img{
        width: 100px;
    }
    h5{
        color: black;
        font-size: 15px;
        margin: 5px;
        padding: 5px;

    }
   
}

}




footer{
    background-color: #E7E6EB;
    grid-area: footer;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    opacity: 1;

}

footer h5{
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    
}

footer a img{
    width: 30px;
}

footer div a{
    margin: 2px;
    padding: 2px;
    text-decoration: none;
    font-size: 14px;
}

footer div h5{
    font-size: 14px;

}

footer input{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.body__servicio{
    display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 90px auto auto auto;
        grid-template-areas: 
                            "navegador navegador navegador"
                            "header header header"
                            "main main main "
                            "footer footer footer";
}

.header__servicio{
    grid-area: header;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    flex-direction: row;
    .titulo__servicio{
        font-size: 15px;
    }
    
    
}


.body__carrito {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 90px auto 100px auto;
    grid-template-areas: "navegador navegador navegador" "header header header" "main main main " "footer footer footer";
  }
  
.header__carrito {
    grid-area: header;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    flex-direction: row;
  
  }

.descripcion{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.descripcion img{
    width: 150px;
}

.descripcion h5{
        font-size: 16px;
        font-weight: 700;
        margin: 5px;
        padding: 10px;
    
}

.descripcion .serv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
    background: radial-gradient(#d4cfe7, white);

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 10px;
    padding: 10px;
}

.body__comofunciona{
    display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 70px auto auto;
        grid-template-areas: 
                            "navegador navegador navegador"
                            "main main main "
                            "footer footer footer";
}

.fondi{
    width: 100%;
    background-position: fixed;
    margin-bottom: 30px;
}


.indicacionesFuncion{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    .imagenComoFunciona{
        margin: 5px;
        padding: 5px;
        transition: all 1s;
        &:hover{
            transform: scale(1.2);
        }
    h1{
        margin-top: 10px;
    }
        
    }
    .parrafoComoFunciona{
        width: 350px;
        font-size: 12px;
        margin: 10px;
        padding: 5px;
        text-align: center;
    }
}


.body__eventos{
   
    display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 80px auto auto auto;
        grid-template-areas: 
                            "navegador navegador navegador"
                            "header header header"
                            "fotos fotos fotos "
                            "footer footer footer";

}

.header__eventos{
    grid-area: header;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin: 10px;
    padding: 5px;
}

$btn:(
    borde: 0,
    margen: 10px,
    padding: 8px,
    border-radius: 5px,
    color: #E4EAF5,
);

$tarjeta:(
    borde: none,
    border-radius:10px,
    margen: 30px,
    padding: 5px,
    

);

.fotos{
    grid-area: fotos;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .tarjeta{
        border: map-get($tarjeta , borde );
        border-radius: map-get($tarjeta , border-radius );
        margin: map-get($tarjeta, margen );
        padding: map-get($tarjeta, padding );
        opacity: 0.85;
        display: flex;
        flex-direction: column;
        box-shadow: 0.1rem 0.8rem 1rem gray; 
        align-items: center;
        img{
            width: 200px;
            margin: 5px;
            padding: 5px;
            transition: all 1s;
            
        }
        h4{
            margin: 2px;
            padding:3px;
            font-size: 15px;
        }
        .btn{
            border: map-get($btn, borde );
            margin: map-get($btn , margen );
            padding: map-get($btn , padding );
            border-radius: map-get($btn , border-radius );
            background: #fff0f0;
            &:hover{
                background-color: #d4c9c9;
            }
            a{
                text-decoration: none;
                color: black;
            }

            
        
        }

    
    }
}

.button{
    @extend .btn;
}



.evento{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.evento img{
    transition: all 1s;
    margin:10px;
    
}

.evento img:hover{
    transform: scale(1.5);
}


@mixin propiedades($margin , $padding) {
    margin: $margin;
    padding: $padding;
    
}

.titulo_consulta{
    display: flex;
    justify-content: center;
}
.titulo_consulta h1{
    margin-top: 80px;

}
.consulta{
    display: flex;
    flex-wrap: wrap;
    margin-left:30px;
    
}

.consulta__info{
    font-size: 12px;
    @include propiedades(10px,5px );
    width: 320px;
    margin-top: 50px;
}

.datos{
    font-size: 12px;
    @include propiedades(10px,5px);
    
    
}
.borde{

    @include propiedades(20px,30px);
    border-radius: 15px;
    border-color: #CED6D9;
    
    opacity: 0.7;
    
    
    label{
        font-weight:bolder;
       
    }

    input{
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background: none;
        color: #000000;
        background-color: #CED6D9;
        
    }
    textarea{
        background:none;
        border: none;
        border-radius: 10px;
        background-color: #CED6D9;
    }

}

.boton{
    border: 0;
    @include propiedades(5px,8px);
    border-radius: 5px;
    background-color: #E4EAF5;
    font-weight: bolder;
}

footer{
    grid-area: footer;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
  
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    margin: 10px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
  
   .input::placeholder {
    color: #9e9ea7;
  
   }
  
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
  
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
  
   .card{
    margin: 1rem;
    padding: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0.1rem 0.8rem 1rem gray;
    width: 290px;
    height: 280px;
  
  }
  
  .img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    filter: opacity(80%);
  }
  .box{
    border-radius: 58px;
  }
  
  p{
    font-size: 15px;
  }
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 10px;
   }
  
   button.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #af9ea5;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
   }
  
   button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d1c7ca;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b395a1, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b89fa9, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
   }
  
   button.learn-more:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
   }
  
   button.learn-more:hover::before {
    -webkit-box-shadow: 0 0 0 2px #ac909c, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #af8d9b, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
   }
  
   button.learn-more:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
   }
  
   button.learn-more:active::before {
    -webkit-box-shadow: 0 0 0 2px #beaab2, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b396a2, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
   }
  
   .busqueda{
    display: inline-block;
  
  
   }
  
   .bus{
    margin: 1rem;
    padding: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0.1rem 0.8rem 1rem gray;
    width: 300px;
    height: 280px;
   }
  
   .pushbar .btn-cerrar .izquierda{
    text-align: left;
   }
  
  td{
    font-size: 10px;
    margin: 5px;
    padding: 5px;
    width: 100px;
    text-align:center;
    border-bottom: black solid 1px;
  }
  
  .carr{
    margin: 15px;
  }
  
  .borrar{
    width: 100px;
    height: 30px;
  }

  .total{
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 100px;
    padding: 10px;
    text-align:end;
  }

  .btnCompra{
    margin: 10px;
    padding: 8px;
    text-align: end;
    margin-right: 35px;
    border-radius: 10px;
    font-size: 8pt;
  }